a {
	text-decoration: none;
}

p {
	color:#000000; 
}

html {
	height:100%;
}


.header {
	width:100%;
	display:grid;
	grid-template-columns:1fr;
	
	
}

.navig {
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	background-color: #483D8B;
}

.name_bar {
	text-align: left;
	/*margin-left:50px;*/
	font-size: 25px;
}

.name_bar_text {
	border: 1px solid #778899;
	background-color:#6A5ACD;
	color: #FFFFFF;
	padding:4px;
	margin-left: 4px;
}

.contact {
	text-align:right;
}

.wrapper {
	min-height: 100vh;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	background-color:#D3D3D3;
}

.container {
	display:flex;
	flex-wrap:wrap;
	background-color:#D3D3D3;
	justify-content: center;
	
}

.testing {
	width:300px;
}

.name_p {
	text-align: center;
	font-family: serif;
	color: #191970;
}

.prew {
	float:left;
	width:300px;
	margin: 1% 1% 0 1%;
}

.footer {
	 background: #808080;
	 height: 80px;
	 border-top: 1px solid black;
	 margin-top: auto;
	 text-align: center;
}

.text_footer {
	color:white;
}

@media screen and (max-width:400px)  {
	.name_bar_text {
		font-size:15px;
	}
}

@media screen and (max-width:300px)  {
	.name_bar_text {
		font-size:15px;
	}
	
	.prew {
		width:250px;
	}
}

 /* бандикам
	fl studio
	автокад
	movavi
	компас
 */